<div id="HeaderComponent">
    <header id="header" class="page-topbar">
        <div class="navbar-fixed">
            <nav class="indigo darken-4">
                <div class="nav-wrapper">
                    <ul class="left">
                        <li>
                            <h1 class="logo-wrapper">
                                <a href="/" class="brand-logo darken-1">
                                    <img src="/assets/images/pagon-logo-title.png" alt="Pagon logo">
                                </a>
                            </h1>
                        </li>
                    </ul>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a class="waves-effect waves-block account-icon waves-light">
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse">
                                <i class="fa fa-bell" aria-hidden="true">
                                    <span class="count-badge">4</span>
                                </i>
                            </a>
                        </li>
                        <li>
                            <a id="logout_button" ng-click="logout()" class="waves-effect waves-block waves-light">
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</div>
